body{
    display: flex;
    flex-direction: column;
    
    }

.top{

    margin-bottom: 20px;
}




.gridContainer{
    
   
   display: grid;
   grid-gap: 0px;
   grid-template-rows: repeat(var(--gridRows), minmax(0, 1fr));
   grid-template-columns: repeat(var(--gridCol), 1fr);
   
    
    
    
    max-height: 40vw;
    width: 50vw;
    min-height: 0;
   
    
}

.hover{
    background-color: yellow;
}



     
   
    
    


.cell{
    margin: 0px;
    min-height: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;

}